<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Aceso.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4FC8D5EBD3F551436599FFCDB8D97DBB91BA42A1</string>
				<key>dateExpires</key>
				<string>2020/2/17</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>W74YV9GZDZ.com.appscomm.lezhikang.aceso</string>
				<key>com.apple.developer.team-identifier</key>
				<string>W74YV9GZDZ</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>W74YV9GZDZ.com.appscomm.lezhikang.aceso</string>
				</array>
			</dict>
			<key>name</key>
			<string>Aceso.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f0c68430-c0d3-4731-94ac-9422d43bd7ea</string>
				<key>name</key>
				<string>LeZhiKangAceso</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>W74YV9GZDZ</string>
				<key>name</key>
				<string>Guangzhou Appscomm Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
